.navbar {
  height: 100px;
  padding: 12px 16px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.navbar .companyInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar .companyInfo img {
  height: 70px;
}

.navbar .companyName {
  font-family: "Work Sans";
  font-weight: bold;
  font-size: 36px;
  color: #1f1f1f;
}

.link {
  text-decoration: none;
}

.navlinks {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  text-decoration: none;
  color: #1f1f1f;
  font-family: "Inter";
  font-size: 16px;
}

.navlink:hover {
  color: #005eb2;
}
