.shopContainer {
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: space-around;
  row-gap: 48px;
  column-gap: 16px;
}

@media (max-width: 500px) {
  .shopContainer {
    padding: 28px 0px;
  }
}
