.container {
  padding: 60px 24px 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.welcomeMessage {
  font-family: "Inter";
  color: #1f1f1f;
  font-size: 24px;
}
.homeImage {
  width: 100%;
  max-width: 500px;
}
